.jumbotron{
    background-image: url('img/dev.jpg');
    background-size: cover;
    margin-bottom: 0px;
    
}
#read{
    border-radius: 0px;
}
#portfolio img{
    height: 150px;
    width: 150px;
    border-radius: 40%;
    padding:4%;
}
#portfolio1{
    padding-left: 5%;
}
.row1{
    padding: 5%;
}
/* .one{
 border-right: 1px solid red;
} */
/* testimonial  */
.testimonial{
    background-image: url('img/bac.jpg');
    margin-left: 0px;
    padding-top: 5%;
    height: auto !important;
    color: #fff;
}
.testimonial img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-content: center;  
}
